@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 236, 235, 235;
}

@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.navbar-icon {
  @apply transition-all text-xl mx-auto mb-[3px]  ease-in duration-300;
}

.navbar-text {
  @apply text-xs transition-all ease-in duration-300;
}

.input-style {
  @apply border border-slate-400 rounded p-2 focus:outline-none focus:outline focus:outline-2 focus:outline-offset-1 focus:outline-blue-500;
}
